@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-background text-primary leading-loose;
  }
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl font-medium;
  }
  h3 {
    @apply text-lg font-normal;
  }
  h4 {
    @apply text-sm font-normal;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .borders {
    @apply border-2 border-primary;
  }
  .borders-t {
    @apply border-t-2 border-primary;
  }
  .borders-b {
    @apply border-b-2 border-primary;
  }
  .borders-tb {
    @apply border-b-2 border-t-2 border-primary;
  }

  .content-grid {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-4;
  }
  .content-flex {
    @apply flex flex-wrap;
  }
  :root {
    --radius: 0.5rem;
    --primary: rgb(31 41 55);
    --secondary: rgb(55 65 81);
    --accent: #1da1f2;
    --accent-hover: #1877b4;
    --background: #ffffff;
    --foreground: #f5f5f5;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* ---- header section ----*/
.header-margin {
  @apply container mx-auto flex-between py-2;
}
.header-logo {
  @apply hidden md:flex items-center space-x-2 tracking-[2px];
}

.header-logo-span {
  @apply px-3 py-1 bg-primary text-background;
}

.header-search-dropdown {
  @apply absolute w-full rounded-md p-4 borders bg-white top-[50px] z-30;
}

.header-search-margin {
  @apply w-full max-w-[300px] md:max-w-[450px] lg:max-w-[550px] flex flex-row items-center relative;
}

.header-search-input {
  @apply block outline-none w-full py-2 px-2 md:px-5 text-sm text-gray-900 border border-gray-300 rounded-lg;
}

/* ---- homepage section ---- */
.home-margin {
  @apply py-6 md:py-10 space-y-6 md:space-y-10;
}

/* homepage : category */
.home-category-margin {
  @apply container mx-auto space-y-6;
}

.home-category-image {
  @apply h-[175px] flex-center;
}

/* homepage :recommend */
.home-recommend-margin {
  @apply container mx-auto space-y-6;
}

/* ========= end of home page section */

/* auth page section [ login and register ] */

.auth-page-image {
  @apply border-2 w-full h-full flex-center;
}
.auth-form-margin {
  @apply w-full md:w-1/2 px-4 py-4 space-y-2 text-center;
}

.auth-image-margin {
  @apply hidden md:flex-center md:w-1/2;
}

.auth-form {
  @apply space-y-4;
}

.auth-wrapper {
  @apply space-y-4;
}

.auth-button {
  @apply w-full flex-center rounded-md tracking-[2px];
}

.auth-title {
  @apply flex-center text-2xl uppercase font-medium;
}
.auth-input {
  @apply h-12 border-b-2 w-full outline-none mb-4 focus:border-primary;
}

.auth-loading {
  @apply flex-center bg-primary w-full hover:bg-primary rounded-md cursor-not-allowed;
}

/* ===== end of auth page section */
.product-card-image {
  @apply flex-center borders h-[200px] overflow-hidden;
}

/* product section */
/* product : product-detail */
.product-detail-parent {
  @apply grid grid-cols-1 md:grid-cols-2 gap-x-4 space-y-4 md:space-y-0;
}
.product-detail-image {
  @apply w-full flex flex-wrap space-y-2 md:space-y-0;
}

.product-detail-multiple {
  @apply w-full space-y-0 space-x-4 md:space-x-0 md:space-y-4 flex mt-4 md:mt-0 order-2 md:order-none md:flex-col md:w-[20%] justify-start;
}

.detail-single-image {
  @apply w-full md:h-auto h-[350px] md:w-[80%] borders flex-center;
}

.detail-multiple-image {
  @apply w-[80px] h-[80px] borders;
}

/* product : review comment */

.product-review-margin {
  @apply max-h-[400px] borders-tb overflow-y-auto py-6 space-y-6;
}

.product-review-box {
  @apply border border-primary min-h-[180px] p-4;
}

/* cart section */

.cart-margin {
  @apply container mx-auto space-y-4;
}
.cart-shopping-detail {
  @apply order-2 w-full md:order-1 md:w-[70%] pr-0 md:pr-6;
}
.cart-detail-head {
  @apply py-2 px-4 borders flex items-center space-x-4;
}
.shopping-sumary-margin {
  @apply order-1 mb-2 w-full md:w-[30%];
}

.shopping-summary-wrapper {
  @apply borders flex flex-col justify-between h-[200px] px-4 py-4;
}

/* Menghilangkan tombol "x" pada input type="search" di semua browser */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-moz-search-cancel-button {
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none; /* Untuk browser berbasis WebKit */
  appearance: none; /* Untuk kompatibilitas lintas browser */
}
